<template>
  <v-container>
    <Loading />
    <div v-if="!loading">
      <div class="text-right">
        <div class="btn-group">
          <v-btn-toggle>
            <v-btn @click="listType = 'grid'">
              <v-icon>fa-th</v-icon>
            </v-btn>

            <v-btn @click="listType = 'list'">
              <v-icon>fa-list-ul</v-icon>
            </v-btn>
          </v-btn-toggle>
        </div>
      </div>
      <v-row v-if="listType === 'grid'">
        <BookGrid
          v-for="(item, idx) in books"
          :item="item"
          :type="listType"
          :key="`grid${idx}`"
        />
      </v-row>
      <v-simple-table v-if="listType === 'list'" class="mt-2">
        <thead>
          <tr>
            <td>Title</td>
            <td>Price</td>
            <td>Author</td>
            <td></td>
          </tr>
        </thead>
        <BookTable
          v-for="(item, idx) in books"
          :item="item"
          :key="`list${idx}`"
        />
      </v-simple-table>
    </div>
  </v-container>
</template>

<script>
// @ is an alias to /src
import BookGrid from '@/components/BookGrid.vue';
import BookTable from '@/components/BookTable.vue';
import { mapState } from 'vuex';

export default {
  name: 'Home',
  data: () => ({
    listType: 'grid',
  }),
  components: {
    BookGrid,
    BookTable,
  },
  computed: {
    ...mapState('book', ['books']),
    ...mapState(['loading']),
  },
  beforeCreate() {
    this.$store.dispatch('book/get');
  },
};
</script>
