<template>
  <span>
    <drawer :drawer="drawer" />
    <v-app-bar app color="blue darken-1" dark>
      <v-app-bar-nav-icon class="hidden-md-and-up" @click="drawer = !drawer" />
      <v-spacer class="hidden-md-and-up" />
      <router-link to="/">
        <v-toolbar-title>{{ appTitle }}</v-toolbar-title>
      </router-link>
      <v-btn text class="hidden-sm-and-down" @click="drawer = !drawer"
        >Menu</v-btn
      >
      <v-spacer class="hidden-sm-and-down" />
      <div v-if="!isAuth" class="hidden-sm-and-down">
        <router-link to="/login">
          <v-btn text class="hidden-sm-and-down">SIGN IN</v-btn>
        </router-link>
        <router-link to="/register">
          <v-btn color="red darken-1" class="hidden-sm-and-down">JOIN</v-btn>
        </router-link>
      </div>
      <v-btn v-else color="red" @click="logout">Logout</v-btn>
    </v-app-bar>
  </span>
</template>

<script>
import Drawer from './Drawer';
import { mapState, mapActions } from 'vuex';

export default {
  name: 'AppNavigation',
  components: {
    Drawer,
  },
  data: () => ({
    appTitle: 'App Title',
    drawer: false,
  }),
  computed: mapState('auth', ['isAuth']),
  methods: mapActions('auth', ['logout']),
};
</script>

<style scoped>
header a {
  color: white;
  text-decoration: none;
}
</style>
