<template>
  <v-col cols="12" lg="3" md="4" sm="6">
    <v-card class="mx-auto" max-width="400">
      <v-img class="white--text align-end" height="200px" :src="item.cover">
        <v-card-title v-text="item.title" />
      </v-img>

      <v-card-subtitle class="pb-0" v-text="item.author" />

      <v-card-text class="text--primary">
        <div>Price: ${{ item.price }}</div>
      </v-card-text>

      <v-card-actions>
        <v-btn
          color="orange"
          block
          outlined
          @click="BOOK_ADDED_TO_CART(item.id)"
          >Detail</v-btn
        >
      </v-card-actions>
    </v-card>
  </v-col>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'BookGrid',
  props: ['item'],
  methods: {
    ...mapActions('Cart', ['BOOK_ADDED_TO_CART']),
  },
};
</script>

<style scoped></style>
