<template>
  <tr>
    <td>{{ item.title }}</td>
    <td>{{ item.price }}</td>
    <td>{{ item.lang }}</td>
    <td>
      <v-btn color="orange" text @click="BOOK_ADDED_TO_CART(item.id)">
        Add to cart
      </v-btn>
      <v-btn color="orange" text disabled>
        Out of stock
      </v-btn>
    </td>
  </tr>
</template>

<script>
import { mapActions } from 'vuex';

export default {
  name: 'BookTable',
  props: ['item'],
  methods: {
    ...mapActions('Cart', ['BOOK_ADDED_TO_CART']),
  },
};
</script>

<style scoped></style>
