<template>
  <v-navigation-drawer
    app
    v-model="drawer"
    dark
    disable-resize-watcher
    src="@/assets/drawer.webp"
  >
    <v-list>
      <template v-for="(item, index) in items">
        <v-list-item :key="index">
          <router-link :to="item.link">{{ item.title }}</router-link>
        </v-list-item>
        <v-divider :key="`divider-${index}`" />
      </template>
    </v-list>
  </v-navigation-drawer>
</template>

<script>
export default {
  name: 'Drawer',
  props: { drawer: Boolean },
  data: () => ({
    items: [
      { title: 'Menu', link: '/menu' },
      { title: 'Sign In', link: '/login' },
      { title: 'Join', link: '/register' },
      { title: 'About', link: '/about' },
    ],
  }),
};
</script>

<style scoped>
.v-list-item a {
  color: white;
  text-decoration: none;
}
</style>
