<template>
  <v-progress-circular indeterminate color="primary" v-if="loading" />
</template>

<script>
import { mapState } from 'vuex';

export default {
  name: 'Loading',
  computed: mapState(['loading']),
};
</script>
